html,
body {
  margin: 0;
}
.toolbar {
  position: fixed;
  top: 25px;
  left: 25px;

  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 250px;
}

.ui-button {
  display: block;
  background-color: black;
  border: 1px solid black;
  color: lightgray;
  height: 40px;
  width: 100%;
  font-size: 16px;

  cursor: pointer;
}

.ui-button.selected {
  background-color: #55558855;
}

.ui-button:not(.selected):hover {
  background-color: #33333355;
}
